<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>URL Shortener Service</title>
        {% endif %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>

        <div>
            Custom URL:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('custom_code') }}">Custom Code</a>
            <a href="{{ url_for('stat_all') }}">Statistics</a>
        </div><hr>
        {% block content %}
        {% endblock %}
    </body>
</html>
