{% extends "base.html.jinja" %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.url.label }}<br>
        {{ form.url() }}
        {% for error in form.url.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
    {% include '_get_url.html.jinja' %}
</form>
{% endblock %}
